/* ----------------GERAL CONFIGS------------------ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
}

:root {
  --CorFundo: #030308;
  --AzulEscuro: #012340;
  --AzulRoyal: #03588c;
  --AzuLFRA01: #3dadd9;
  --AzuLFRA01: #acd7f2;

  --CorGeralBRA: #fff;
  --CorGeralPRE: #000;

  --FonteTexto: "Poppins", sans-serif;
  --FonteAlternativa: "Open Sans", sans-serif;
  --FonteAlternativa02: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 1px;
  background-color: var(--CorFundo);
  border: 1px solid var(--CorFundo);
}

::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: var(--AzuLFRA01);
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--CorGeralBRA);
}

a {
  text-decoration: none;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

body {
  background-color: var(--CorFundo);
  color: var(--CorGeralBRA);
}
/* ----------------GERAL CONFIGS END-------------- */

/* ----------------ANIMAÇÕES CONFIGS ----------------- */

.digitando::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.9s infinite;
}

@keyframes inicializar {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pisca {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* ----------------ANIMAÇÕES CONFIGS END-------------- */

/* ----------------HEAD CONFIGS ----------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 89%;
  padding: 20px 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
}

.header.rolagem-head {
  background-color: var(--AzulRoyal);
  padding: 10px 10%;
}

.header.rolagem-head a {
  color: var(--CorGeralBRA);
}

.header.rolagem-head .ativo {
  color: var(--AzulRoyal);
}

.logo {
  position: relative;
  font-size: 25px;
  color: var(--AzuLFRA01);
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--CorFundo);
  animation: showRight 1s ease forwards;
  animation-delay: 2.3s;
}

.navbar a {
  font-size: 18px;
  color: var(--AzuLFRA01);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover,
.navbar a.ativo {
  color: var(--CorGeralBRA);
}
.navbar a.ativo:hover {
  color: var(--AzulRoyal);
}

.navbar ul li a::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  position: absolute;
  height: 3px;

  transition: 0.3s;
}

/* ----------------HEAD CONFIGS END-------------- */

/* ----------------HOME CONFIGS ----------------- */

#home {
  padding-top: 4vh;
  height: 99.9vh;
  margin: 0;
  box-sizing: border-box;
  min-height: fit-content;
}

.home,
container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-conteudos {
  max-width: 600px;
}

.home-conteudos h1 {
  position: relative;
  font-size: 55px;
  font-weight: 700;
  line-height: 1.2;
}
/*
.home-conteudos h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #10454f;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}
*/
.home-conteudos h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: var(--AzulRoyal);
}

.home-conteudos h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--CorFundo);
  animation: showRight 1s ease forwards;
  animation-delay: 2.4s;
}

.home-conteudos p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
  color: var(--AzuLFRA01);
}

.home-conteudos p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--CorFundo);
  animation: showRight 1s ease forwards;
  animation-delay: 2.6s;
}

.home-conteudos .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-conteudos .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--CorFundo);
  animation: showRight 1s ease forwards;
  animation-delay: 2.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: var(--AzulRoyal);
  border: px solid var(--AzulRoyal);
  border-radius: 8px;
  font-size: 19px;
  color: var(--CorGeralBRA);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: var(--AzuLFRA01);
}
.btn-box a:nth-child(2) {
  background: transparent;
  color: var(--AzulRoyal);
}

.btn-box a:nth-child(2):hover {
  color: var(--CorGeralBRA);
}

.btn-box a:nth-child(2)::before {
  background: var(--AzulRoyal);
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--CorFundo);
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-emci {
  position: absolute;
  top: 0;
  right: 30px;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 3s;
}

.home-emci:hover {
  background-color: transparent;
}

/* ----------------HOME CONFIGS END-------------- */

/* ----------------SOBRE CONFIGS ----------------- */

.section-container {
  display: flex;
}

.section-foto-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  box-shadow: 0 5px 15px #ffffff34;
  border-radius: 30px;
}

.section-texto-p1 {
  text-align: center;
  padding-top: 50px;
}

.titulo {
  position: relative;
  font-size: 3rem;
  text-align: center;
  background: transparent;
}

.titulo h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--CorFundo);
  animation: showRight 1s ease forwards;
  animation-delay: 2.9s;
}

.icone {
  cursor: pointer;
  height: 2rem;
}

#sobre {
  position: relative;
  background-color: transparent;
}

.sobre-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sobre-detalhes-container {
  justify-content: center;
  flex-direction: column;
}

.sobre-containers,
.sobre-detalhes-container {
  display: flex;
}

.sobre-detalhes-container h3 {
  color: var(--AzulEscuro);
}
#sobre-pic {
  border-radius: 2rem;
  box-shadow: 0 5px 15px var(--CorGeralPRE);
  display: flex;
  gap: 30px;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}

#sobre-pic:hover {
  background-color: var(--AzulRoyal);
  cursor: pointer;
  scale: 1.05;
}

.detalhes-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--CorGeralBRA);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  color: var(--CorGeralPRE);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

  border: 3px solid transparent;
  transition: all 0.3s ease;
}

.detalhes-container:hover {
  background-color: var(--AzuLFRA01);
  cursor: pointer;
  scale: 1.05;
}

.detalhes-container p {
  color: var(--CorGeralPRE);
}
.section-container {
  gap: 4rem;
  height: 80%;
}

/* ----------------SOBRE CONFIGS END-------------- */

/* ----------------PROJETOS CONFIGS ----------------- */

.titulo-recurso {
  font-size: 3rem;
  text-align: center;
  background: var(--CorFundo);
  margin: auto;
}

#projetos-cont {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 100px;
}

#projetos-cont .recurso-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-right: 10px;
  margin-top: 40px;
}

#projetos-cont .recurso-card .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 300px;
  margin-top: 40px;
}

#projetos-cont .recurso-card .card .info i {
  color: #fff;
  font-size: 8rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1.4rem;
}

#projetos-cont .recurso-card .card .info h2 {
  text-align: center;
}

#projetos-cont .recurso-card .card .info p {
  font-size: 1.1rem;
}

#projetos-cont {
  background-color: var(--CorFundo);
  padding: 10px;
}

#projetos-cont .projetos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#projetos-cont .projetos h2 {
  text-align: center;
  color: #f7f7f7;
  text-transform: uppercase;
  margin-top: 40px;
  padding-top: 15px;
}

#projetos-cont .projetos a {
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
  border: 1px solid transparent;
  padding: 10px 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  transition: all 0.3s ease;
}

#projetos-cont .projetos a:hover {
  border-color: #fff;
  box-shadow: none;
}

#projetos-cont .card {
  padding: 30px;
  background-color: var(--CorGeralBRA);
  box-shadow: 0 5px 15px #ffffff46;
  border-radius: 20px;
  display: flex;
  gap: 30px;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}

#projetos-cont .card:hover {
  border-color: var(--AzulRoyal);
  box-shadow: none;
  cursor: pointer;
  scale: 1.05;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#projetos-cont .card .info h2 {
  margin: auto;
  margin-bottom: 20px;
  color: var(--CorGeralPRE);
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Ubuntu";
}

#projetos-cont .card .info p {
  color: var(--CorGeralPRE);
  font-size: 1.1rem;
  line-height: 1.8rem;
}

/* ----------------PROJETOS CONFIGS END-------------- */

/* ----------------HABILIDADES CONFIGS--------------- */
.skills {
  width: 150%;
  height: 150%;
}
.shabi-cont {
  width: 150%;
  height: 150%;
}

.habi-cont h2 {
  margin-top: 45px;
  font-size: 3rem;
  text-align: center;
  background: transparent;
  margin-bottom: 100px;
}

.implementacao {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 150px;
}

.implementacao .card {
  background-color: var(--CorGeralBRA);
  padding: 1rem;
  border: 4px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.implementacao .card:hover {
  background-color: #c5e9f8;
  border-color: var(--AzulEscuro);
  cursor: pointer;
  scale: 1.05;
}

.implementacao .card span {
  display: inline-block;
  background-color: var(--CorGeralBRA);
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--CorGeralPRE);
  border-radius: 5px;
}

.implementacao .card h4 {
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--CorGeralPRE);
  font-size: 1.2rem;
  font-weight: 600;
}

.implementacao .card p {
  text-align: center;
  color: var(--CorGeralPRE);
  margin-bottom: 1rem;
}

.implementacao .card a {
  color: var(--CorGeralPRE);
  transition: all 0.3s ease;
}

.implementacao .card a:hover {
  color: var(--AzulEscuro);
}

/* ----------------HABILIDADES CONFIGS END----------- */
