/*---------------------------------------------------Configurações Gerais------------------------------------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	background-color: var(--bg-full-color);

}

:root {

	--bg-full-color: #030308;
	--primary-bg-color: #8F49F2;
	--secondary-bg-color: #763DF2;
	--thirdly-bg-color: #592db8;
	--fourthly-bg-color: #352473;
	--fifthly-bg-color: #dacff1;

	--CorVar1: #fff;
    --CorVar2: #8F49F2;
	--CorVar3: #fff;
	--CorVar4: #fff;
	--CorVar5: #555555;
	--CorVar6: #555555;

	--CorGeralBRA: #fff;
	--CorGeralPRE: #000;

	--FonteTexto: "Poppins", sans-serif;
	--FonteAlternativa: "Open Sans", sans-serif;
	--FonteAlternativa02: "Roboto", sans-serif;
}

.light-mode {
	--bg-full-color: #ffffff;
	--fourthly-bg-color: #E36FD5;
	--primary-bg-color: #8F49F2;
	--secondary-bg-color: #C56FE3;
	--thirdly-bg-color: #E36FD5(50, 205, 86);
	--fourthly-bg-color: #E36FD5;
	--fifthly-bg-color: #2B1E59;
	--CorVar1: #4333E8;
	--CorVar2: #C56FE3;
	--CorVar3: #122137;
	--CorVar4: #000;
	--CorVar5: #000;
	--CorVar6: #555555;

	--CorGeralBRA: #fff;
	--CorGeralPRE: #000;
}

li img {
	width: 28px;
	background: transparent;
}

.moon {
	width: 35px;
}

::-webkit-scrollbar {
	width: 1px;
	background-color: var(--bg-full-color);
	border: 1px solid var(--bg-full-color);
}

::-webkit-scrollbar-thumb {
	width: 1px;
	background-color: var(--bg-full-color);
}

body {
	font-family: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

p {
	color: var(--CorVar5);
	background: transparent;
}

h3 {
	background: transparent;
	color: var(--CorVar4);
}

a,
.btn {
	transition: all 300ms ease;
}

section {
	padding-top: 4vh;
	height: 96vh;
	margin: 0 10rem;
	box-sizing: border-box;
	min-height: fit-content;
}

.section-container {
	display: flex;
}

.icon {
	cursor: pointer;
	height: 2rem;
	background: transparent;
}
