/*------------------------------------------------Configurações Home----------------------------------------------------------------- */

#home {
  padding-top: 4vh;
  height: 99.9vh;
  margin: 0;
  box-sizing: border-box;
  min-height: fit-content;
}

.home,
container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-conteudos {
  max-width: 1000px;
}

.home-conteudos h1 {
  position: relative;
  font-size: 55px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--CorVar1);
}

.home-conteudos h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: var(--secondary-bg-color);
  opacity: 0;
  animation-name: slide;
  animation-timing-function: ease;
  animation-delay: 3.4s;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  transform: translateX(-2000px);
}

.home-conteudos p {
  position: relative;
  max-width: 700px;
  font-size: 16px;
  margin: 20px 0 40px;
  color: var(--fifthly-bg-color);
  text-align: justify;
  opacity: 0;
  animation-name: slide;
  animation-timing-function: ease;
  animation-delay: 3.7s;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  transform: translateX(-2000px);
}

.home-conteudos .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  opacity: 0;
  animation-name: slide;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  transform: translateX(-2000px);
}

.home-conteudos .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-full-color);
  animation: showRight 1s ease forwards;
  animation-delay: 2.9s;
  z-index: 2;
}

.btn-box a {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: var(--secondary-bg-color);
  border: px solid var(--secondary-bg-color);
  border-radius: 8px;
  font-size: 19px;
  color: var(--CorGeralBRA);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
